h1{
  font-size:90px;
}
h2{
  font-size:40px;
}
body{
  text-align:center;
  background:linear-gradient(#E1BEE7 0%, #90CAF9 100%);
}
p{
font-size:18px;
  color:#6A1B9A;
}
.line{
    height: 6px;
    background-color: black;
    width:70px;
    margin:8px auto;
}
.menu{
    top:10px;
   right:30px;
    position:fixed;
    list-style:none;
    cursor:pointer;
    z-index:10;
}
#human{
    z-index:8;
} 
.links{
    float: left; color: fuchsia; padding-top: 5px; padding-left: 9px; padding-right: 9px; padding-bottom: 5px; font-family: fantasy; font-size: 20px;
        
}
.links:hover { background-color: aqua; }